<!DOCTYPE html>
<html lang="ja">
  <head>
    <base target="_top">
    <style>
      <?!=cssContent?>
    </style>
  </head>
  <body>
    <div class="w-[100dvw] h-fit min-h-screen bg-orange-50 py-10">
      <div class="mx-auto w-10/12 md:w-2/3 bg-white shadow-2xl p-5">
        <div class="border-b-4">
          <h1 class="text-3xl text-center font-sans font-bold text-orange-500 p-10">
            出席状況確認
          </h1>
        </div>
        <div>
          <p class="text-xl border-b-2 p-4">
            通常練習の出席率
          </p>
          <div class="grid grid-cols-auto-fit gap-5 p-4 text-center text-lg">
            <div class="flex-1 shadow-md rounded-md bg-gray-100">
              <p class="border-b-2 p-3">前曲</p>
              <p class="p-3"><?=attendanceNormalOverture?></p>
            </div>
            <div class="flex-1 shadow-md rounded-md bg-gray-100">
              <p class="border-b-2 p-3">中曲</p>
              <p class="p-3"><?=attendanceNormalMiddle?></p>
            </div>
            <div class="flex-1 shadow-md rounded-md bg-gray-100">
              <p class="border-b-2 p-3">メイン１</p>
              <p class="p-3"><?=attendanceNormalMain1?></p>
            </div>
            <div class="flex-1 shadow-md rounded-md bg-gray-100">
              <p class="border-b-2 p-3">メイン２</p>
              <p class="p-3"><?=attendanceNormalMain2?></p>
            </div>
            <div class="flex-1 shadow-md rounded-md bg-gray-100">
              <p class="border-b-2 p-3">メイン３</p>
              <p class="p-3"><?=attendanceNormalMain3?></p>
            </div>
            <div class="flex-1 shadow-md rounded-md bg-gray-100">
              <p class="border-b-2 p-3">メイン４</p>
              <p class="p-3"><?=attendanceNormalMain4?></p>
            </div>
          </div>
        </div>
        <div>
          <p class="text-xl border-b-2 p-4">
            Tutti練習の出席率
          </p>
          <div class="grid grid-cols-auto-fit gap-5 p-4 text-center text-lg">
            <div class="flex-1 shadow-md rounded-md bg-gray-100">
              <p class="border-b-2 p-3">前曲</p>
              <p class="p-3"><?=attendanceTuttiOverture?></p>
            </div>
            <div class="flex-1 shadow-md rounded-md bg-gray-100">
              <p class="border-b-2 p-3">中曲</p>
              <p class="p-3"><?=attendanceTuttiMiddle?></p>
            </div>
            <div class="flex-1 shadow-md rounded-md bg-gray-100">
              <p class="border-b-2 p-3">メイン１</p>
              <p class="p-3"><?=attendanceTuttiMain1?></p>
            </div>
            <div class="flex-1 shadow-md rounded-md bg-gray-100">
              <p class="border-b-2 p-3">メイン２</p>
              <p class="p-3"><?=attendanceTuttiMain2?></p>
            </div>
            <div class="flex-1 shadow-md rounded-md bg-gray-100">
              <p class="border-b-2 p-3">メイン３</p>
              <p class="p-3"><?=attendanceTuttiMain3?></p>
            </div>
            <div class="flex-1 shadow-md rounded-md bg-gray-100">
              <p class="border-b-2 p-3">メイン４</p>
              <p class="p-3"><?=attendanceTuttiMain4?></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <body>
</html>