<!doctype html>
<html>
  <head>
    <base target="_top" />
    <style>
      <?!=cssContent?>
    </style>
  </head>
  <body>
    <div class="absolute left-0 top-0 min-h-screen w-screen bg-blue-50 p-0.5">
      <div class="m-20 bg-white p-10 shadow-2xl">
        <div class="border-b-4">
          <h1 class="p-10 font-sans text-3xl font-bold text-blue-500">団会設定フォーム</h1>
        </div>
        <h2 class="p-5">
          <l class="font-sans text-xl font-bold text-blue-400"> Q1. </l>
          団会の種類を選択してください。
        </h2>
        <div class="flex justify-center space-x-4">
          <button class="rounded-md bg-cyan-200 p-2 font-bold text-white hover:bg-cyan-300 focus:bg-cyan-400 focus:ring focus:ring-blue-500">選曲団会</button>
          <button class="rounded-md bg-cyan-200 p-2 font-bold text-white hover:bg-cyan-300 focus:bg-cyan-400 focus:ring focus:ring-blue-500">反省団会</button>
          <button class="rounded-md bg-cyan-200 p-2 font-bold text-white hover:bg-cyan-300 focus:bg-cyan-400 focus:ring focus:ring-blue-500">臨時団会</button>
        </div>
        <h2 class="p-5">
          <l class="font-sans text-xl font-bold text-blue-400"> Q2. </l>
          開催日を入力してください。
        </h2>
        <div class="flex items-center justify-center">
          <form>
            <input type="date" class="border-2 bg-slate-100" />
          </form>
        </div>
        <h2 class="p-5">
          <l class="font-sans text-xl font-bold text-blue-400"> Q3. </l>
          委任状申請フォームを送信しますか？<br />
        </h2>
        <div>
          <p class="px-14 text-xs text-red-500">はいと回答した場合、Discordチャネルに委任状申請フォームが送信されます。</p>
        </div>
        <div class="flex justify-center space-x-4 p-4">
          <button class="rounded-md bg-cyan-200 p-2 font-bold text-white hover:bg-cyan-300 focus:bg-cyan-400 focus:ring focus:ring-blue-500">はい</button>
          <button class="rounded-md bg-cyan-200 p-2 font-bold text-white hover:bg-cyan-300 focus:bg-cyan-400 focus:ring focus:ring-blue-500">いいえ</button>
        </div>
        <div class="flex justify-center p-4">
          <button class="w-full bg-purple-200 p-2 font-bold text-white">送信する</button>
        </div>
      </div>
    </div>
  </body>
</html>
